@tailwind base;
@tailwind components;
@tailwind utilities;

.container-lg {
  @apply max-w-[1400px] mx-auto;
}
.container-sm {
  @apply max-w-[1280px] mx-auto;
}

#navbar.active {
  animation: fadeNav 0.7s linear forwards;
  background-color: white;
  top: 0;
}
@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
#sideBar {
  animation: sideNav 0.4s linear forwards;
  z-index: 999;
}

@keyframes sideNav {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
