@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: outfit;
  src: url(/fonts/outfit.ttf);
}
* {
  font-family: outfit;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --brand-50: #ebf9ff;
  --brand-100: #d6f2ff;
  --brand-200: #a3e2ff;
  --brand-300: #6bd0ff;
  --brand-400: #1ab6ff;
  --brand-500: #0094d9;
  --brand-600: #0084c2;
  --brand-700: #0076ad;
  --brand-800: #005e8a;
  --brand-900: #004261;
  --brand-950: #00344d;
}
.container-lg {
  @apply max-w-[1400px] mx-auto;
}
.container-sm {
  @apply max-w-[1280px] mx-auto;
}
* {
  scroll-behavior: smooth;
}
#navbar.active {
  animation: fadeNav 0.7s linear forwards;
  background-color: white;
  top: 0;
  @apply shadow-bottom;
}
@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  /* background-color: #fcf5f0; */
}
#sideBar {
  animation: sideNav 0.4s linear forwards;
  z-index: 999;
}

@keyframes sideNav {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.toast-error-message {
  background: linear-gradient(
    95.46deg,
    #f6743e -6.96%,
    #d42525 108.25%
  ) !important;
}
.toast-success-message {
  background: linear-gradient(
    94.77deg,
    #32bb71 15.3%,
    #2a9d8f 113.45%
  ) !important;
}
